<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.ProductMapper">

    <!-- 定义t_product表查询结果与Product对象之间的映射关系 -->
    <resultMap id="productMap" type="Product">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="price" column="price"/>
    </resultMap>

    <!-- 定义select语句，ProductMapper接口中的find()方法会执行该SQL，
        查询结果通过productMap这个映射生成Product对象-->
    <select id="find" resultMap="productMap">
        SELECT * FROM t_product WHERE id = #{id:INTEGER}
    </select>

    <!-- 定义select语句，ProductMapper接口中的findByName()方法会执行该SQL，
        查询结果通过productMap这个映射生成Product对象-->
    <select id="findByName" resultMap="productMap">
        SELECT * FROM t_product
        WHERE name like  concat('%',#{name},'%')
    </select>

    <!-- 定义insert语句，ProductMapper接口中的save()方法会执行该SQL，
        数据库生成的自增id会自动填充到传入的Product对象的id字段中-->
    <insert id="save" keyProperty="id" useGeneratedKeys="true" parameterType="Product">
      insert into t_product (name, description, price)
      values (#{name}, #{description}, #{price})
    </insert>
</mapper>